#header-right button{
    margin-left: 10px;
}

#box-setting{
    width: 60%;
    margin: auto;
    height: 100vh;
    overflow: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;

}
#btn-back{
    background-color: orange;
    color: white
}
#recipe-title{
    color:orange;
}