#box-setting{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}
#btn-back{
    background-color: rgb(3, 147, 15);
    color: #FDD365;
}
#recipe-title{
    color: rgb(3, 147, 15);
}