#login-title{
    color: orange;
}
#btnLogin{
 
    background-color:orange;
    color:white;
}
#btnLogin:hover{
    transform: scale(1.05);
}
#btnCancel{
    background-color:orange;
    color:white;
}
#btnCancel:hover{
    transform: scale(1.05);
}