#login-title{
    color: rgba(48,181,59,1);
}
#btnLogin{
 
    background-color: rgba(48,181,59,1);
    color: #FDD365;
}
#btnLogin:hover{
    background-color: rgb(3, 147, 15);
    color: #FDD365;
}
#btnCancel{
    background-color: rgba(48,181,59,1);
    color: #FDD365;
}
#btnCancel:hover{
    background-color: rgb(3, 147, 15);
    color: #FDD365;
}