header {
    position: sticky;
    top: 0;
    z-index: 1;  
}
header h3{
    color: rgba(48,181,59,1);
    font-family: monotype corsiva;
    /* text-decoration: underline; */
    font-size: 40px;
    
}
#nav-items{
    position: sticky;
    top:100px;
}
#btnlogout{
    background-color: rgba(48,181,59,1);
    color: #FDD365;
}
#btnlogout:hover{
    background-color: rgb(3, 147, 15);
    color: #FDD365;
}

#card-space{
    background-color: white;
    color: black;
    padding: 15px;
}
#recipe-section{
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}
#nav-items div{
    background-color: rgba(48,181,59,1);
    color: #FDD365;
    margin-top: 8px;
    padding: 8px;
    font-size: 18px;
} 
#nav-items div:hover{
    background-color: rgb(3, 147, 15);
    
} 
#title-user{
    color:rgba(48,181,59,1);
}
#btn-viewmore{
    background-color: rgba(48,181,59,1);
    color: #FDD365;
}
#btn-viewmore:hover{
    background-color: rgb(3, 147, 15);
    color: #FDD365;
}
#cards-section{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 200px;
    margin: 20px;
}
.card img{
    width: 100%;
    height: 150px ;
}
#search-results{
    display: flex;
    flex-wrap: wrap;

}