.main-container{
    overflow-x: hidden;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    z-index: 1000;  
    width: 100%;
    height: 70px;
}

header h3{
    color: orange;
    font-family: monotype corsiva;
    font-size: 35px;
    
}
#btnlogout{
    background-color: orange;
    color: white;
}
#btnlogout:hover{
    transform: scale(1.05);
}

#recipe-section{
    width: 100%;
    margin: 20px 20px;
    
}
/* use card-space for getting unwanted space on home click in nav */
#card-space{
    width: 100%;
    margin: 20px 20px; 

}
#search-section{
    width: 93%;
}
 
#title-user{
    color:orange;
}


#btn-viewmore{
    background-color: orange;
    color: white;
}
#btn-viewmore:hover{
    transform: scale(1.05);
}
#cards-section{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 200px;
    margin: 20px;
}
.card img{
    width: 100%;
    height: 150px ;
}
#search-results{
    display: flex;
    flex-wrap: wrap;

}
#loading{
    color: orange;
    font-size: 25px;
    margin: 25px;
    text-align: center;
}
.carousel{
    margin-top: 80px !important;
}
.dropdown-toggle{
    background-color: orange !important;
    color: white !important;
    width: 100px;
}
.dropdown-item{
    background-color: orange !important;
    color: white !important;
    margin-bottom:5px;

}
@media screen and (max-width:768px){
    #cards-section{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    #search-results{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    
    }
    #search-section{
        width: 90%;
        margin: auto;
    }
    .card{
        width: 180px;
        height: 200px  ;
        margin: 10px;
    }
    .card img{
        width: 100%;
        height: 110px ;
    }

 
 

}
@media  screen and (max-width:568px){
    
    header h3{
        margin-right: 80px;
        
    }
  
}
@media  screen and (max-width:399px){
    
    header h3{
        color: orange;
        font-family: monotype corsiva;
        font-size: 20px;
        
    }
    #title-user{
        font-size: 15px;
    }
    h3 img{
        width: 30px;
        height: 30px;
    }
    #btnlogout{
        background-color: orange;
        color: white;
        font-size: 10px;
        padding: 5px;
    }
    #cards-section{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-left: -25px;
    }
    #search-results{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-left: -25px;
    
    }
    #search-section{
        width: 100%;
        margin: auto;
        margin-left: -10px;
    }

    .card{
        width: 150px;
        height: 120px  ;
        margin: 10px;
    }
    .card img{
        width: 100%;
        height: 110px ;
    }
    .card-body{
        height: 120px;
        overflow: auto;
    }
    .dropdown-toggle{
        background-color: orange !important;
        color: white !important;
        width: 60px;
        margin-left: -10px;
    }
    .dropdown-item{
        background-color: orange !important;
        color: white !important;
        margin-bottom:5px;
    
    }
    #loading{
        font-size: 18px;
        margin-left: -50px;
        
    }

  
  
}

