#background{
    background-image: url("../../../public/images/background.jpg");
    background-size: cover;
    height: 100vh;
}
#app-title{
    font-size: 45px;
    color: orange;
    text-align: center;
    font-family: bodoni bd bt;
}
#btns button{
    background-color: orange;
    color: white;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 20px;
}
#btns button:hover{
    transform: scale(1.05);
}
#btns{
    text-align: center;
}
@media screen and (max-width:992px){
    #content{
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        width: 70%;
     }

}
@media screen and (max-width:568px){
    #app-title{
        font-size: 35px;
    }
    #content{
        background-color: white;
        padding: 20px;
        border-radius: 20px;
     }

}

@media screen and (max-width:399px){
    #app-title{
        font-size: 30px;
    }
     #content{
        background-color: white;
        padding: 20px;
        border-radius: 20px;
     }

}