#box-setting{
    width: 60%;
    margin: auto;
    height: 100vh;
    overflow: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}

#view-more-loading{
    color: orange;
    font-size: 25px;
    margin: 25px;
    text-align: center;
    margin-top: 50px;
    
    
}
#recipe-title{
    color:orange;
}
@media screen and (max-width:992px){
    #box-setting{
        width: 80%;
        height: 80vh;
    }
}
@media screen and (max-width:768px){
    #box-setting{
        width: 85%;
        height: 80vh;
    }
    #recipe-title{
        margin-top: 20px;

    }
}
@media  screen and (max-width:568px){
    #box-setting{
        width: 90%;
        height: 75vh;
    }
    #recipe-title{
        margin-top: 20px;

    }
    
}
@media screen and (max-width:399px){
    #box-setting{
        width: 95%;
    }
    #recipe-title{
        margin-top: 20px;

    }
}