#login-title{
    text-align: center;
    color: rgba(48,181,59,1);
}
#btnLogin{
 
    background-color: rgba(48,181,59,1);
    color: #FDD365;
}
#btnCancel{
    background-color: rgba(48,181,59,1);
    color: #FDD365;
}