#background{
    background-image: url("../../../public/images/bg-orange.jpg");
    background-size: cover;
}
form{
    background-color: white;
    border: 1px solid orange;
}
#login-title{
    color: orange;
}
#btnLogin{
 
    background-color: orange;
    color: white
}
#btnCancel{
    background-color: orange;
    color: white
}
#container-login-width{
    width: 400px;
    height: 350px;
}
#loginuser-loading{
    font-size: 18px;
    color: red;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width:992px){
    #container-login-width{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    #container-login-width{
        width: 70%;
    }
}
@media screen and (max-width:568px){
    #container-login-width{
        width: 90%;
    }
}
@media screen and (max-width:399px){
    #container-login-width{
        width: 90%;
    }
}