#login-title{
    text-align: center;
    color: orange;
}
#btnLogin{
 
    background-color: orange;
    color: white
}
#btnCancel{
    background-color: orange;
    color: white
}
#container-width{
    width: 30%;
}
#loginuser-loading{
    font-size: 18px;
    color: red;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width:992px){
    #container-width{
        width: 50%;
    }
}
@media screen and (max-width:768px){
    #container-width{
        width: 60%;
    }
}
@media screen and (max-width:568px){
    #container-width{
        width: 80%;
    }
}
@media screen and (max-width:399px){
    #container-width{
        width: 80%;
    }
}